<div class="form-group">
	<label for="customerName" class="col-sm-3 control-label">Customer
		Name</label>
	<div class="col-sm-6">
		<input type="text" ng-model="customer.customerName"
			class="form-control" id="customerName" placeholder="Customer Name" />
	</div>
</div>
<div class="form-group">
	<label for="customerAddress" class="col-sm-3 control-label">Customer
		Address</label>
	<div class="col-sm-6">
		<input type="text" ng-model="customer.customerAddress" class="form-control"
			id="customerAddress" placeholder="Customer Address" />
	</div>
</div>
<div ng-controller="CountryController">
<div class="form-group">
	<label for="customerCountry" class="col-sm-3 control-label">Country</label>
	<div class="col-sm-6">
		<select ng-model="customer.customerCountry" ng-options="country for (country,states) in countries" ng-change="GetSelectedCountry()" class="form-control"
			id="customerCountry">
			<option value=''>Select</option>
		</select>
	</div>
</div>
<div class="form-group">
	<label for="customerState" class="col-sm-3 control-label">State</label>
	<div class="col-sm-6">
		<select ng-model="customer.customerState" ng-disabled="!customer.customerCountry" ng-options="state for (state,city) in customer.customerCountry" ng-change="GetSelectedState()" class="form-control"
			id="customerState">
			<option value=''>Select</option>
		</select>
	</div>
</div>
</div>
<div class="form-group">
	<label for="customerEmail" class="col-sm-3 control-label">Email
		Address</label>
	<div class="col-sm-6">
		<input type="text" ng-model="customer.customerEmail"
			class="form-control" id="customerEmail" placeholder="Email Address" />
	</div>
</div>

<div class="form-group">
	<label for="customerContactNo" class="col-sm-3 control-label">Contact
		Number</label>
	<div class="col-sm-6">
		<input type="text" ng-model="customer.customerContactNo"
			class="form-control" id="customerContactNo"
			placeholder="Contact Number" />
	</div>
</div>

<div class="form-group">
	<label for="customerIdentificationDocument"
		class="col-sm-3 control-label">Identification Document</label>
	<div class="col-sm-6">
		<select ng-model="customer.customerIdentificationDocument"
			class="form-control" id="customerIdentificationDocument">
			<option>Voter Id</option>
			<option>Passport</option>
			<option>Driving License</option>
			<option>PAN Card</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label for="identificationDocumentNumber"
		class="col-sm-3 control-label">Identification Document Number</label>
	<div class="col-sm-6">
		<input type="text" ng-model="customer.identificationDocumentNumber"
			class="form-control" id="identificationDocumentNumber"
			placeholder="ID Doc Number" />
	</div>
</div>

<div class="form-group">
	<label for="typeOfVendor" class="col-sm-3 control-label">Vendor
		Type</label>
	<div class="col-sm-6">
		<select ng-model="customer.typeOfVendor" class="form-control"
			id="typeOfVendor">
			<option>Electricity</option>
			<option>Telephone</option>
			<option>Insurance</option>
			<option>Tax</option>
		</select>
	</div>
</div>

<div class="form-group">
	<label for="vendorName" class="col-sm-3 control-label">Vendor
		Name</label>
	<div class="col-sm-6" ng-controller="VendorListController">
		<select ng-model="customer.vendorName" ng-options="vendor.vendorName for vendor in vendors" class="form-control"
			id="vendorName">
			
		</select>
	</div>
</div>

<div class="form-group">
	<label for="cardNo" class="col-sm-3 control-label">Card Number</label>
	<div class="col-sm-6">
		<input type="text" ng-model="customer.cardNo" class="form-control"
			id="cardNo" placeholder="Card Number" />
	</div>
</div>

<div class="form-group">
	<label for="cardValidityDate" class="col-sm-3 control-label">Card
		Validity</label>
	<table>
		<tr>
			<div class="col-sm-1">
				<input width="100px" type="text" ng-model="customer.cardValidityMM"
					class="form-control" id="cardValidityMM" placeholder="MM" />
			</div>
		</tr>
		<tr>
			<div class="col-sm-1">
				<input type="text" ng-model="customer.cardValidityYYYY"
					class="form-control" id="cardValidityYYYY" placeholder="YYYY" />
			</div>
		</tr>
		<tr>
			<div class="form-group">
				<label for="cardCvv" class="col-sm-1 control-label">CVV</label>
				<div class="col-sm-1">
					<input type="password" ng-model="customer.cardCvv" class="form-control"
						id="cardCvv" placeholder="CVV" />
				</div>
			</div>
		</tr>
	</table>

</div>



<div class="form-group">
	<div class="col-sm-offset-3 col-sm-10">
		<input type="submit" class="btn btn-primary" value="Save" />
	</div>
</div>
